.sidebar > h2 {
  /* color: #01B3E3; */
  color: #02b3e4;
  margin: 2rem 0;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.sidebar {
  text-align: center;
}